@mixin styleButton($fs, $color, $bg-color,$border-color, $pd-y, $pd-x){
    font-size: $fs;
    padding: $pd-y $pd-x;
    color: $color;
    background-color: $bg-color;
    border: 2px solid $border-color;
}
@mixin hoverButton($hover-color, $hover-bg-color){  
    &:hover{
        color: $hover-color;
        background-color: $hover-bg-color;
    }
}

@mixin styleText($fs, $fw, $mg-b){
    font-size: $fs;
    font-weight: $fw;
    margin-bottom: $mg-b;
}